.row-content {
  padding: 2px;
}

.row-header {
  margin: 0px auto;
  padding: 0px 0px;
}

.oppgave-tekst {
    font-family: sans-serif;
    font-size: 18px;       
}

.oppgave{
    margin-left: 15px;
}

.v-center {
   display: flex;
   align-items: center;
}

.v-center2 {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.jumbotron {
  margin: 0px auto;
  padding: 30px 30px;
  background: #045FB4;
  color: floralwhite;
}

#login-error {
    font-size:14px;
    color:#cc0000;
    margin-top:10px
}

.userLogin-text {
    margin-left: 15px;
    
}

.navbar-inverse {
  background: #045FB4;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .active > a {
  background: #0B4A85;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .active > a:hover {
  background: #0B4A85;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .active > a:focus {
  background: #0B4A85;
  color: #ffffff;
}

.pSize_1 {
    font-size: 5.0vw;
}

#leggTilStatus {
    font-family: sans-serif;
    font-size: 16px;
}
